# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

PHASE-1.md
PHASE-2.md
PHASE-3.md
PHASE-4.md
PHASE-5.md
PHASE-6.md
PHASE-7.md
PHASE-9.md
PHASE-9A.md
PHASE-10.md
PHASE-11.md
PHASE-11.1.md
PHASE-12.md
PHASE-13.md
PHASE-14.md
PHASE-15.md
PHASE-16.md